@import "../../App";

.careers__container{
    @include defaultColor;
    h1 {
        @include headerFont;
        margin-bottom: 20px;
        line-height: 70px;
        font-size: $headingSize;
    }
    p, ul {
        @include textFont;
        font-size: $subHeadingSize;
        line-height: 30px;
        margin-bottom: 20px;
        strong {
            @include textBold;
        }
    }
}

.intro__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    strong {
        color: $accentColor;
    }
    .intro__pic {
        width: 40%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .intro__text{
        width: 35%;
        margin-bottom: 30px;
    }
}

.sections__container {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    ul {
        padding-left: 20px; 
        li {
            margin-bottom: 10px;   
        }
    }
    .spacing {
        margin-bottom: 100px;
    }
    .section__two {
        display: flex;
        .section__two__img {
            width: 55%;
            img {
                width: 100%;
            }
        }
        .section__two__text {
            width: 40%;
        }
    }
}

.form {
    display: flex;
    width: 100%;
    background-color: $bgDark;
}

@media (max-width: 770px) {
    .careers__container{
        .intro__container, .sections__container {
            text-align: center;
        }
        .intro__container {
            padding-top: 20%;
            flex-direction: column;
            margin-bottom: 30%;
            .intro__text {
                height: auto;
                width: 80%;
            }
        }
        .section__one, .section__two, .section__three {
            ul {
                text-align: justify;
            }
        }
        .section__two {
            flex-direction: column;
            align-items: center;
            .section__two__img, .section__two__text {
                width: 100%;
            }
        }
    }
}