@import "../../App";
@import "../../animations/Animations.scss";

.article {
    width: 45%;
    position: absolute;
    left: 3%;
    top: 55%;
}
.article__container {
    @include textFont ();
    opacity: 0;
    animation: fadeInText 0.8s forwards;
}

.subheading__text{
    font-size: $subHeadingSize;
    margin-bottom: 5px;
}
.heading__container {
    @include headerFont();
    font-size: $headingSize;
    letter-spacing: -1.5px;
    margin-bottom: 30px;
    .accented {
        color: $accentColor;
        @include headerBold();
    }
}

.cta {
    display: flex;
    align-items: center;
    @include removeDecor();
    &::before {
        content: "";
        height: 2px;
        width: 50%;
        background-color: #282828;
        display: block;
        margin-right: 10px;
    }
    &:hover {
        color: $accentColor;
        cursor: pointer;
    }
}
