@import "../../App";

.pic__services{
    img {
        opacity: 80%;
    }
}

.services__container {
    padding: 10% 10%;
    @include defaultColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    h1 {
        font-size: $headingSize;
    }
    h1, h3, button {
        @include headerFont;
        margin-bottom: 11px;
    }
    h3, p {
        font-size: $subHeadingSize;
    }
    p {
        @include textFont;
        margin-bottom: 8px;
        line-height: 25px;
        strong {
            @include textBold;
        }
    }
    .body {
        width: 45%;
        height: 400px;
        .btn {
            font-size: 0.9em;
        }
        hr {
            margin-bottom: 11px;
        }
        .section-one__container, .section-two__container, .section-three__container {
            display: flex;
            justify-content: space-between;
            button {
                width: 50px;
                font-size: 25px;
                border: none;
                padding: 0;
                background-color: $bgColor;
                cursor: pointer;
            }
        }
    }
}

.expert-tutoring strong {
    color: $accentColor;
}

@media (max-width: 960px) {
    .services__container {
        .btn {
            font-size: 0.8em;
        }
        .pic__services{
            img {
                width: 80%;
                height: auto;
            }
        }
    }
}

@media (max-width: 770px) {
    .services__container{
        flex-direction: column-reverse;
        .body {
            margin-bottom: 20%;
            width: 80%;
            h1 {
                text-align: center;
            }
        }
        .pic__services{
            margin-top: 15%;
            display: flex;
            justify-content: center;
            img {
                width: 50%;
            }
        }
        .btn {
            margin-bottom: 15%;
        }
    }

}

@media (max-width: 425px) {
    .services__container{
        height: auto;
        .body {
            width: 90%;
            h1 {
                font-size: 1.8em;
            }
            h3, p {
                font-size: 1.1em;
            }
            .btn {
                font-size: 0.6em;
            }
        } 
        .pic__services {
            margin-top: 50px;
            margin-bottom: 20px;
            align-self: flex-start; 
        } 

    } 
}

