@import "../../App";

.navbar-container {
    @include textFont();
    display: flex;
    justify-content: space-between;
    img {
        width: 5rem;
        height: 5rem;
    }
}

.navbar__links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        padding-right: 15px;
        font-size: 1.2em;
        margin-right: 25px;
    }
}