@import "../../App";
@import "../../animations/Animations";

.about__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 10%;
    @include defaultColor;
}

.fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    h1{
        @include headerFont;
        font-size: $headingSize;
        line-height: 70px;
        width: 80%;
        margin-bottom: 20px;
    }
    img {
        width: 60%;
        border: 1px solid $footerColor;
    }
    h1, img {
        margin-left: 40px;
    }
}

.scroll {
    width: 35%;
}

@media (max-width: 770px) {
    .about__container {
        flex-direction: column;
        text-align: center;
        .fixed {
            flex-direction: column-reverse;
            padding-top: 20%;
            width: 90%;
            height: 80%;
            align-items: center;
            h1, img {
                margin: 0 0 10%;
            }
        }
        .scroll {
            width: 90%;
        }
    }
}


