@import "../../App";
@import "../../animations/Animations";

.about__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include defaultColor;
}

.fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    width: 50%;
    height: 100vh;
    h1{
        @include headerFont;
        font-size: $headingSize;
        line-height: 70px;
        width: 80%;
        margin-bottom: 20px;
    }
    img {
        width: 60%;
        border: 1px solid $footerColor;
    }
    h1, img {
        margin-left: 40px;
    }
}

.scroll {
    width: 35%;
    margin-right: 30px;
}


